<title></title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>CV Emir Ale</title>
<link rel="icon" href="/images/icon.jpg" />
<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.min.css" />
<link rel="stylesheet" href="https://loading.io/css/loading.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />



