<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <!-- ==================== back to top buttom ========================================= -->
  <a id="button">Back to top!<img src="https://gotravelaz.com/sites/default/files/mario-clipart-mario-mushroom-676294-9086230.jpg"></a>
  <!-- ================================================================================= -->

  <div class="sections-wrapper">
    <div id="one" class="section s1">
      <div class="container">
        <nav class="navbar">
          <a id="navShrink" href="#one"><img id="imgShrink" src="https://gotravelaz.com/sites/default/files/pokemon-clipart-squirtle-pokemon-722630-2009158.png" style="animation-duration:4.0s" class="ld ld-jingle"/>
            About me</i></a>
          <a id="navShrink" href="#two"><img id="imgShrink" src="https://gotravelaz.com/sites/default/files/zelda-clipart-tribal-830791-6398988.png" style="animation-duration:3.0s" class="ld ld-pulse"/>
            Skills</i></a>
          <a id="navShrink" href="#three"><img id="imgShrink" src="https://vignette.wikia.nocookie.net/videojuego/images/0/09/Kirby_Star_Allies_-_Kirby.png/revision/latest?cb=20180705014628" style="animation-duration:4.0s" class="ld ld-tick" />
            Contact</i></a>
        </nav>
        <div class="divider div-transparent"></div>
      </div>     
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="animation-test">
              <div class="flip">
                <div class="front">
                  <div class="img-border">
                    <img class="asd" src="https://i.imgur.com/TA3k8QJ.jpg" alt="" srcset="">
                  </div>
                </div>
                <div class="back"> 
                  <h1>Emir Ale</h1>
                  <p>I’m a software enthusiast in front end languages constantly wanting to learn more, i have always been a fan of programming but just recently decided to dive into it professionally. My english skills are advanced, both in talking and writing. I have no corporative experience in development, just as a freelancer, such as making web-pages for my family business. I look forward to be part of a challenging team and develop my programming skills.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="animation-test2">
              <div id="cvDesc">
                <h1>Emir Ale</h1>
                <p>I’m a software enthusiast in front end languages constantly wanting to learn more, i have always been a fan of programming but just recently decided to dive into it professionally. My english skills are advanced, both in talking and writing. I have no corporative experience in development, just as a freelancer, such as making web-pages for my family business. I look forward to be part of a challenging team and develop my programming skills.</p>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div id="two" class="section s2">
        <div class="separator02"></div>
      <div id="middleDiv" class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <img id="imgSection2" class="ld ld-blur" style="animation-duration:4.0s" src="https://gotravelaz.com/sites/default/files/zelda-clipart-tiny-830802-5072648.png" alt="" srcset="">
          </div>
          <div class="col-4">
            <div id="container">
              <p>My knowledge comes from self taught learning, a lot of google and several courses on Udemy, my first one was The Web Developer Bootcamp by Colt Steele, and from then i couldn't stop. Mostly i have worked in:</p>
              <button class="coverRight rotate">
                <div class="circle">
                  <span class="icon arrow"></span>
                </div>
                <p class="button-text">Javascript</p>
              </button>
              <button class="coverRight rotate">
                  <div class="circle">
                    <span class="icon arrow"></span>
                  </div>
                  <p class="button-text">bootstrap</p>
              </button>
              <button class="coverRight rotate">
                  <div class="circle">
                    <span class="icon arrow"></span>
                  </div>
                  <p class="button-text">jQuery</p>
              </button>
              <button class="coverRight rotate">
                  <div class="circle">
                    <span class="icon arrow"></span>
                  </div>
                  <p class="button-text">GitHub</p>
              </button>
              <button class="coverRight rotate">
                <div class="circle">
                  <span class="icon arrow"></span>
                </div>
                <p class="button-text">HTML</p>
              </button>
              <button class="coverRight rotate">
                <div class="circle">
                  <span class="icon arrow"></span>
                </div>
                <p class="button-text">CSS</p>
              </button>
            </div>         
          </div>
        </div>
      </div>
    </div>

    <div id="three" class="section s3">
      <div class="container">
        <div class="row justify-content-center">
          <h1>Contact</h1>
        </div>
        <div class="row justify-content-center">
          <p>Hover to see more, click to send!</p>
        </div>
      </div>
      <div id="contactDiv" class="container">
        <div class="row justify-content-center">
          <div class="pxl-border style_prevu_kit">
            <div class="container">
              <div id="finalRowDivs" class="row">
                <div class="col">
                  <div id="hover">
                    <a href="https://api.whatsapp.com/send?phone=5493517887715&text=I%20want%20to%20find%20out%20about%20your%20products"><img src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c543.png"></a>
                  </div>
                  <div id="stuff">
                      <p>3517887715</p>
                  </div>
                </div>
                <div class="col">
                  <div id="hover">
                    <a href="mailto:emirderespaldo@gmail.com"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/1280px-New_Logo_Gmail.svg.png"></a>
                  </div> 
                  <div id="stuff">
                      <p>emirderespaldo@gmail.com</p>
                  </div>
                </div>
                <div class="col">
                  <div id="hover">
                    <a href="https://www.linkedin.com/in/emirale/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/1024px-Linkedin.svg.png"></a>
                  </div> 
                  <div id="stuff">
                    <p>/emirale/</p>
                  </div>
                </div>
                <div class="col">
                  <div id="hover">
                    <a href="https://github.com/emiir14"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"></a>
                  </div> 
                  <div id="stuff">
                    <p>emiir14</p>
                  </div>
                </div>
                <div class="col">
                  <div id="hover">
                    <a href="https://goo.gl/maps/2cQ6Y73NF5Xiiq4E7"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/GoogleMaps_logo.svg/235px-GoogleMaps_logo.svg.png"></a>
                  </div> 
                  <div id="stuff">
                    <p>Famatina 92, Córdoba</p>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
      <div id="footerDiv">
        <p class="subtitle fancy"><span>Develop by Emir Ale</span></p>
      </div>
    </div>
  </div>

  <% include ../partials/footer.ejs %>
</body>
</html>
